In [25]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split

**LOADING THE DATA

In [5]:
df = pd.read_csv("C:\\Users\\gulte\\Downloads\\heart_failure_clinical_records_dataset.csv")

In [34]:
df.head(100)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,58.0,1,133,0,60,1,219000.00,1.0,141,1,0,83,0
96,63.0,1,514,1,25,1,254000.00,1.3,134,1,0,83,0
97,70.0,1,59,0,60,0,255000.00,1.1,136,0,0,85,0
98,60.0,1,156,1,25,1,318000.00,1.2,137,0,0,85,0
99,63.0,1,61,1,40,0,221000.00,1.1,140,0,0,86,0

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 32.7 KB

In [6]:
df.dropna(inplace=True)

In [7]:
df1 = df[["age", "creatinine_phosphokinase", "ejection_fraction","platelets", "serum_creatinine","serum_sodium", "time" ]]

In [83]:
df2 = df[["anaemia", "diabetes", "high_blood_pressure", "sex","smoking","DEATH_EVENT"]]

In [63]:
df3 = df.filter(df1,axis=1)

In [64]:
df3.head()

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time
0,75.0,582,20,265000.00,1.9,130,4
1,55.0,7861,38,263358.03,1.1,136,6
2,65.0,146,20,162000.00,1.3,129,7
3,50.0,111,20,210000.00,1.9,137,7
4,65.0,160,20,327000.00,2.7,116,8

In [44]:
for x in df2:
    df2[x] = df2[x].astype('category')

C:\Users\gulte\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [86]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 298
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   anaemia              299 non-null    int64
 1   diabetes             299 non-null    int64
 2   high_blood_pressure  299 non-null    int64
 3   sex                  299 non-null    int64
 4   smoking              299 non-null    int64
 5   DEATH_EVENT          299 non-null    int64
dtypes: int64(6)
memory usage: 26.4 KB

In [46]:
def scalerFunction():
    for i in df1:
        scaler = MinMaxScaler(feature_range=(0,1))
        scaler.fit(np.array(df1[i]).reshape(-1,1))
        df1[i] = scaler.transform(np.array(df1[i]).reshape(-1,1))
scalerFunction()

C:\Users\gulte\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\gulte\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\gulte\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\gulte\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\gulte\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\gulte\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\gulte\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [47]:
df1

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time
0,0.636364,0.071319,0.090909,0.290823,0.157303,0.485714,0.000000
1,0.272727,1.000000,0.363636,0.288833,0.067416,0.657143,0.007117
2,0.454545,0.015693,0.090909,0.165960,0.089888,0.457143,0.010676
3,0.181818,0.011227,0.090909,0.224148,0.157303,0.685714,0.010676
4,0.454545,0.017479,0.090909,0.365984,0.247191,0.085714,0.014235
...,...,...,...,...,...,...,...
294,0.400000,0.004848,0.363636,0.157474,0.067416,0.857143,0.946619
295,0.272727,0.229268,0.363636,0.296884,0.078652,0.742857,0.950178
296,0.090909,0.259888,0.696970,0.869075,0.033708,0.714286,0.975089
297,0.090909,0.304925,0.363636,0.139290,0.101124,0.771429,0.982206
298,0.181818,0.022072,0.469697,0.448418,0.123596,0.657143,1.000000

In [48]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 298
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   creatinine_phosphokinase  299 non-null    float64
 2   ejection_fraction         299 non-null    float64
 3   platelets                 299 non-null    float64
 4   serum_creatinine          299 non-null    float64
 5   serum_sodium              299 non-null    float64
 6   time                      299 non-null    float64
dtypes: float64(7)
memory usage: 18.7 KB

In [84]:
df_new = pd.concat([df1, df2], axis=1)

In [85]:
df_new

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,anaemia,diabetes,high_blood_pressure,sex,smoking,DEATH_EVENT
0,0.636364,0.071319,0.090909,0.290823,0.157303,0.485714,0.000000,0,0,1,1,0,1
1,0.272727,1.000000,0.363636,0.288833,0.067416,0.657143,0.007117,0,0,0,1,0,1
2,0.454545,0.015693,0.090909,0.165960,0.089888,0.457143,0.010676,0,0,0,1,1,1
3,0.181818,0.011227,0.090909,0.224148,0.157303,0.685714,0.010676,1,0,0,1,0,1
4,0.454545,0.017479,0.090909,0.365984,0.247191,0.085714,0.014235,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,0.400000,0.004848,0.363636,0.157474,0.067416,0.857143,0.946619,0,1,1,1,1,0
295,0.272727,0.229268,0.363636,0.296884,0.078652,0.742857,0.950178,0,0,0,0,0,0
296,0.090909,0.259888,0.696970,0.869075,0.033708,0.714286,0.975089,0,1,0,0,0,0
297,0.090909,0.304925,0.363636,0.139290,0.101124,0.771429,0.982206,0,0,0,1,1,0
298,0.181818,0.022072,0.469697,0.448418,0.123596,0.657143,1.000000,0,0,0,1,1,0

In [87]:

xs = df_new.drop("DEATH_EVENT",1)

In [88]:
xs = df_new.iloc[:,:-1]
ys = df_new.DEATH_EVENT

In [89]:
xs

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,anaemia,diabetes,high_blood_pressure,sex,smoking
0,0.636364,0.071319,0.090909,0.290823,0.157303,0.485714,0.000000,0,0,1,1,0
1,0.272727,1.000000,0.363636,0.288833,0.067416,0.657143,0.007117,0,0,0,1,0
2,0.454545,0.015693,0.090909,0.165960,0.089888,0.457143,0.010676,0,0,0,1,1
3,0.181818,0.011227,0.090909,0.224148,0.157303,0.685714,0.010676,1,0,0,1,0
4,0.454545,0.017479,0.090909,0.365984,0.247191,0.085714,0.014235,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
294,0.400000,0.004848,0.363636,0.157474,0.067416,0.857143,0.946619,0,1,1,1,1
295,0.272727,0.229268,0.363636,0.296884,0.078652,0.742857,0.950178,0,0,0,0,0
296,0.090909,0.259888,0.696970,0.869075,0.033708,0.714286,0.975089,0,1,0,0,0
297,0.090909,0.304925,0.363636,0.139290,0.101124,0.771429,0.982206,0,0,0,1,1
298,0.181818,0.022072,0.469697,0.448418,0.123596,0.657143,1.000000,0,0,0,1,1

In [90]:
ys

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [91]:
class myCallback(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs={}):
        if(logs.get('accuracy')>= 0.7):
            print("\nReached 70% accuracy so cancelling training!")
            self.model.stop_training = True

callbacks = myCallback()

In [92]:
X_train, X_test, y_train, y_test = train_test_split(xs, ys, test_size = 0.6)

In [93]:
model = tf.keras.models.Sequential([ 
                                    tf.keras.layers.Dense(128, activation=tf.nn.elu),
                                    tf.keras.layers.Dense(32, activation=tf.nn.elu),
                                    tf.keras.layers.Dense(16, activation=tf.nn.elu),
                                    tf.keras.layers.Dense(1, activation=tf.nn.softmax)])

In [94]:
model.compile(optimizer = 'adam',
              loss = 'categorical_crossentropy', metrics=['accuracy'])

model.fit(X_train, y_train, epochs=60,callbacks=[callbacks])

Epoch 1/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2902
Epoch 2/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3652
Epoch 3/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3246
Epoch 4/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3288
Epoch 5/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3069
Epoch 6/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2954
Epoch 7/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3454
Epoch 8/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3017
Epoch 9/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3246
Epoch 10/60
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.3288
Epoch 11/60
4/4 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.3246
Epoch 12/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3006
Epoch 13/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2892
Epoch 14/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2850
Epoch 15/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3423
Epoch 16/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3100
Epoch 17/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3288
Epoch 18/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3621
Epoch 19/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3017
Epoch 20/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3121
Epoch 21/60
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.3579
Epoch 22/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3048
Epoch 23/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3236
Epoch 24/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3152
Epoch 25/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3131
Epoch 26/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3350
Epoch 27/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3340
Epoch 28/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3256
Epoch 29/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2944
Epoch 30/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2850
Epoch 31/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3569
Epoch 32/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3090
Epoch 33/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3267
Epoch 34/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2954
Epoch 35/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3361
Epoch 36/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3017
Epoch 37/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3017
Epoch 38/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3131
Epoch 39/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2944
Epoch 40/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2934
Epoch 41/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3486
Epoch 42/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3163
Epoch 43/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2944
Epoch 44/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3256
Epoch 45/60
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.3829
Epoch 46/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3277
Epoch 47/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3152
Epoch 48/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3309
Epoch 49/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2934
Epoch 50/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3059
Epoch 51/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3538
Epoch 52/60
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.3423
Epoch 53/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2902
Epoch 54/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3402
Epoch 55/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3163
Epoch 56/60
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.2954
Epoch 57/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3256
Epoch 58/60
4/4 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.3329
Epoch 59/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2850
Epoch 60/60
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3246